{
    "$schema": "https://raw.githubusercontent.com/vanessa-opensource/vanessa-runner/develop/vanessa-runner-schema.json",
    "default": {
        "--ibconnection": "/F\"@PROJECT_ROOT@/build/ib\"",
        "--db-user": "",
        "--db-pwd": "",
        "--root": ".",
        "--workspace": ".",
        "--v8version": "8.5.1.1343",
        "--ibcmd": true,
        "--locale": "ru",
        "--language": "ru",
        "--ordinaryapp": "0"
    }
}
