{
    "$schema": "https://raw.githubusercontent.com/vanessa-opensource/vanessa-runner/develop/vanessa-runner-schema.json",
    "default": {
        "--ibconnection": "/F\"{INFOBASE_PATH}\"",
        "--db-user": "",
        "--db-pwd": "",
        "--root": ".",
        "--workspace": ".",
        "--v8version": "{PLATFORM_VERSION}",
        "--locale": "ru",
        "--language": "ru",
        "--additional": "/DisplayAllFunctions /L ru",
        "--ordinaryapp": "-1"
    }
}