<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="1C Web-service Extension" path="*" verb="*" modules="IsapiModule" scriptProcessor="{PLATFORM_PATH}\bin\wsisapi.dll" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
	<system.web>
		<customErrors mode="Off" />
		<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
		<pages validateRequest="false" />
	</system.web>
</configuration>
